{% extends "base.html" %}

{% block content %}
<div class="text-lg font-bold ml-1">
    <div class="flex text-blue-700">
        <svg class="w-4 h-4 mr-1 mt-1 flex-shrink-0 -ml-5" fill="currentColor" viewBox="0 0 16 16">
            <path d="M4 2l8 6-8 6V2z"/>
        </svg>
        <span class="w-lg">LinkedIn</span>
    </div>
    <div class="flex text-blue-700">
        <svg class="w-4 h-4 mr-1 mt-1 flex-shrink-0 -ml-5" fill="currentColor" viewBox="0 0 16 16">
            <path d="M4 2l8 6-8 6V2z"/>
        </svg>
        <span class="w-lg">GitHub</span>
    </div>
    <div class="flex text-zinc-500 ">
        <span class="w-lg"></span>
    </div>
    <div class="flex text-zinc-500 ">
        <span class="w-lg">If none of these work:</span>
    </div>
    <div class="flex text-blue-700">
        <svg class="w-4 h-4 mr-1 mt-1 flex-shrink-0 -ml-5" fill="currentColor" viewBox="0 0 16 16">
            <path d="M4 2l8 6-8 6V2z"/>
        </svg>
        <span class="w-lg">Contact Me Directly</span>
    </div>
</div>
{% endblock %}

{% block detailed %}
Placeholder for image on hover
{% endblock %}
{% block detailed_2 %}
Hover over the items on the left to see more details here.
{% endblock %}