<!DOCTYPE html>
<html lang="en">
<head>
    {{> partials/head}}
    <title>{{title}} - Portfolio</title>
</head>
<body>
    {{> partials/header}}
    {{> partials/navbar}}
    
    <main>
        {{> page}}
    </main>
    
    {{> partials/footer}}
</body>
</html>
