{% extends "base.html" %}

{% block content %}
<div class="text-lg font-bold ml-1">
    <div class="flex text-blue-700 hover:bg-zinc-200 cursor-pointer"
        onmouseenter="updateContent('../static/img/img0.jpg', 'Test' )"
        onmouseleave="clearContent()">
        <span class="w-lg">STM32 Digital Storage Oscilliscope</span>
        <span class="text-zinc-500">C, STM32, Hardware Design</span>
    </div>
    <div class="flex text-blue-700 hover:bg-zinc-200 cursor-pointer"
        onmouseenter="updateContent('../static/img/img0.jpg', 'Test')""
        onmouseleave="clearContent()">
        <span class="w-lg">Blue Marble Security Website</span>
        <span class="text-zinc-500">HTML, TailwindCSS, JS, Astro</span>
    </div>
    <div class="flex text-blue-700 hover:bg-zinc-200 cursor-pointer"
        onmouseenter="updateContent('../static/img/img0.jpg', 'Test')""
        onmouseleave="clearContent()">
        <span class="w-lg">STM32 Environmental Monitor</span>
        <span class="text-zinc-500">C, STM32, I2C, SPI, SQLite</span>
    </div>
    <div class="flex text-blue-700 hover:bg-zinc-200 cursor-pointer"
        onmouseenter="updateContent('../static/img/img0.jpg', 'Test')""
        onmouseleave="clearContent()">
        <span class="w-lg">What's To Eat Discord Bot</span>
        <span class="text-zinc-500">Python, Docker</span>
    </div>
    <div class="flex text-blue-700 hover:bg-zinc-200 cursor-pointer"
        onmouseenter="updateContent('../static/img/img0.jpg', 'Test')""
        onmouseleave="clearContent()">
        <span class="w-lg">Portfolio Website</span>
        <span class="text-zinc-500">Rust, HTML, TailwindCSS, Jinja2</span>
    </div>
</div>

<script>
    function updateContent(img, detailed) {
        const imgBlock = document.getElementById("img-content");
        const detailedBlock = document.getElementById("detailed-content");
        if (imgBlock) {
            imgBlock.src = img;
        }
        if (detailedBlock) {
            detailedBlock.innerHTML = detailed;
        }
    }
    function clearContent() {
        const imgBlock = document.getElementById("img-content");
        const detailedBlock = document.getElementById("detailed-content");
        if (imgBlock) {
            imgBlock.src = "";
        }
        if (detailedBlock) {
            detailedBlock.innerHTML = "Hover over the items on the left to see more details here.";
        }
    }
</script>

{% endblock %}

{% block detailed %}
<div>
    <img id="img-content" class="max-w-full h-auto" src="" alt="" />
    <p id="detailed-img"></p>
</div>

{% endblock %}
{% block detailed_2 %}
<div id="detailed-content">Hover over the items on the left to see more details here.</div>
{% endblock %}