{% extends "base.html" %}

{% block content %}
<div class="text-lg font-bold ml-1">
    <div class="flex text-blue-700 ">
        <span class="w-lg">STM32 Digital Storage Oscilliscope</span>
        <span class="text-zinc-500">C, STM32, Hardware Design</span>
    </div>
    <div class="flex text-zinc-500 ">
        <span class="w-lg">My</span>
        <span>example value</span>
    </div>
    <div class="flex text-blue-700">
        <svg class="w-4 h-4 mr-1 mt-1 flex-shrink-0 -ml-5" fill="currentColor" viewBox="0 0 16 16">
            <path d="M4 2l8 6-8 6V2z"/>
        </svg>
        <span class="w-lg">My Long Name For Text</span>
    </div>
    <div class="flex text-zinc-500 ">
        <span class="w-lg">Label</span>
    </div>
</div>

{% endblock %}

{% block detailed %}
Placeholder for image on hover
{% endblock %}
{% block detailed_2 %}
Hover over the items on the left to see more details here.
{% endblock %}