<div class="container py-5">
    <div class="row">
        <div class="col-lg-8 mx-auto text-center">
            <h1 class="display-4 mb-4">{{page_title}}</h1>
            <p class="lead mb-4">{{description}}</p>
            
            <div class="row g-4 mt-5">
                <div class="col-md-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">About Me</h5>
                            <p class="card-text">Learn about my background and experience</p>
                            <a href="/about" class="btn btn-primary">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Portfolio</h5>
                            <p class="card-text">Check out my latest projects and work</p>
                            <a href="/portfolio" class="btn btn-primary">View Projects</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Contact</h5>
                            <p class="card-text">Get in touch for opportunities</p>
                            <a href="/contact" class="btn btn-primary">Contact Me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
