<div id="leftside">
    <h2 class="hide">Menu:</h2>

    <ul class="avmenu">
        <li><a class="current" href="https://thuynh.work/">Overview</a></li>
        <li><a href="https://thuynh.work/#Professional%20Projects">Professional Projects</a></li>
        <ul>
            <li><a href="https://thuynh.work">SEL-651RA</a></li>
            <li><a href="https://thuynh.work">SEL-321</a></li>
        </ul>
        <li><a href="https://thuynh.work/">Academic Projects</a></li>
        <ul>
            <li><a href="https://thuynh.work">Thesis Project</a></li>
            <li><a href="https://thuynh.work">Project 2 </a></li>
        </ul>
        <li><a href="https://thuynh.work">Personal Projects</a></li>
        <ul>
            <li><a href="https://thuynh.work">Testering </a></li>
            <li><a href="https://thuynh.work">Data Logger</a></li>
            <li><a href="https://thuynh.work">Card Detector</a></li>
            <li><a href="https://thuynh.work">Machine Learning</a></li>
        </ul>
    </ul>

</div>