@import "tailwindcss";

/* Use tailwindcsscli to render from this file */
html {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    max-width: 100vw;
}

* {
    max-width: 100%;
}